/*Buttons*/
.largeButton {
    background-color: transparent;
    border: solid 2px white;
    display: block;
}

    .largeButton:hover {
        border: solid 2px lightblue;
    }

.smallButton {
    background-color: transparent;
    border: solid 2px white;
}

.round {
    border-radius: 70%;
}

.smallButton:hover {
    border: solid 2px lightblue;
}

.inlineButton {
    background-color: white;
}

    .inlineButton:hover {
        background-color: lightblue;
    }

/*event log list with styles with border image*/
.logContainer {
    width: 100%;
    max-height: 300px;
    min-height: 100px;
    padding: 5px;
    overflow-x: scroll;
}

    .logContainer ol {
        line-height: 175%;
        width: 90%;
        border: 10px solid transparent;
        padding: 3px;
        border-image: url('images/styleItems/border1.png') 30% round
    }

    .logContainer li {
        margin-left: 10%;
        margin-right: 10%;
        padding: 2px;
        border: 5px solid transparent;
        border-image: url('images/styleItems/border3.png') 50 stretch
    }
/*textbox input styles with image*/
.text-container {
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
}

    .text-container input {
        background: url('images/styleItems/input-text.png') no-repeat border-box;
        width: 250px;
        height: 55px;
        background-size: contain;
        font-size: 115%;
        font-weight: 600;
        color: white;
    }
/*radio-button styles with image*/
.rad-label {
    display: block;
}

    .rad-label span {
        margin-left: 30px;
    }

    .rad-label:before {
        content: url("images/styleItems/radio1.png");
        position: absolute;
        z-index: 100;
    }

input[type=radio]:checked + label:before {
    content: url("images/styleItems/radio1-select.png");
}

input[type=radio] {
    display: none;
}

.radio-list {
    width: 90%;
    border: 10px solid transparent;
    padding: 3px;
    border-image: url('images/styleItems/border1.png') 30% round
}

/*checkbox styles with image*/
.chk-label span {
    margin-left: 30px;
}

.chk-label:before {
    content: url("images/styleItems/checkbox1.png");
    position: absolute;
    z-index: 100;
}

input[type=checkbox]:checked + label:before {
    content: url("images/styleItems/checkbox1-checked.png");
}

input[type=checkbox] {
    display: none;
}

p {
    font-size: 110%;
    margin-top: 1.5rem;
}
